@font-face {
  font-family: "NunitoSans";
  src:
          local("NunitoSans Light"),
          url("../assets/fonts/Nunito-Light.woff2") format("woff2"),
          url("../assets/fonts/Nunito-Light.woff") format("woff"),
          url("../assets/fonts/Nunito-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "NunitoSans";
  src:
          local("NunitoSans Regular"),
          url("../assets/fonts/Nunito-Regular.woff2") format("woff2"),
          url("../assets/fonts/Nunito-Regular.woff") format("woff"),
          url("../assets/fonts/Nunito-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
