.contacts {
  width: 25%;

  background-color: #21353f;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;

  cursor: pointer;

  &--active {
    background-color: #2f5970;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.contacts__item-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    border-radius: 50%;
  }
}
